body {
  background-image: linear-gradient(to right, #0b3e27, #197149); /* Gradient from Blue to Purple */
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  margin: 0;
}

.bodypart{
  animation: background-gradient 15s ease-in-out infinite;
  background-image: radial-gradient(circle at center, #ff9999, #66b3ff);
}

@keyframes background-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  background-color: black;
}

.navbar .container {
  height: auto;
}

.highlightBox {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #113a1a;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 1s;
}

.section.animate {
  opacity: 1;
  transform: translateY(0);
}

#product-showcase a {
  margin-left: 135px;
}

.nav-item:hover {
  color: blue;
  font-size: 1.1em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; 
}

/* Style the watch items */
.watch {
  /* Set a fixed size for watches */
  width: 250px; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  margin: 10px;
  background-size: cover;
  background-position: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer; /* Add hover effect (optional) */
}

.watch:hover {
  transform: scale(1.05);
}

.watch-details {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.watch:hover .watch-details {
  opacity: 1;
}

.watch-details h3 {
  margin: 5px 0;
}

.watch-details p {
  margin: 0;
}

.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.like-btn svg {
  fill: white;  /* Adjust fill color as needed */
}

.like-btn svg:hover {
  fill: red;  /* Adjust fill color as needed */
}

.liked .like-btn svg {
  fill: red;  /* Adjust fill color for liked state */
}


.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite-item {
  width: 45%;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.favorite-item img {
  width: 100%;
  margin-bottom: 10px;
}

.remove-btn {
  background-color: transparent
}